<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %green(%d{yyyy-MM-dd'T'HH:mm:ss}) %magenta([%thread]) %highlight(%level) %cyan(%logger{15}) %msg%n
            </pattern>
        </encoder>
    </appender>
    <if condition='property("spring.profiles.active").contains("dev")'>
        <then>
            <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>info</level>
                </filter>
                <layout>
                    <pattern>
                        %green(%d{yyyy-MM-dd'T'HH:mm:ss}) %magenta([%thread]) %highlight(%level) %cyan(%logger{15}) %msg%n
                    </pattern>
                </layout>
                <if condition='property("spring.profiles.active").contains("dev")'>
                    <then>
                        <logGroupName>dev/my-backend</logGroupName>
                    </then>
                </if>
                <logStreamUuidPrefix>ecs/my-backend-contatiner/</logStreamUuidPrefix>
                <logRegion>ap-northeast-2</logRegion>
                <maxBatchLogEvents>50</maxBatchLogEvents>
                <maxFlushTimeMillis>30000</maxFlushTimeMillis>
                <maxBlockTimeMillis>5000</maxBlockTimeMillis>
                <retentionTimeDays>0</retentionTimeDays>
            </appender>
        </then>
    </if>

    <springProfile name="!dev">
        <logger name="org.springframework" level="INFO"/>
        <logger name="inc.bfactory.kpop" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="dev">
        <logger name="org.springframework" level="INFO"/>
        <logger name="inc.bfactory.kpop" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS"/>
        </root>
    </springProfile>

</configuration>